.textOption1 {
    -fx-font: 40px "Courier New";
    -fx-padding: 10 6 10 6;
}

.textOption2 {
    -fx-font: 15px "Courier New";
    -fx-padding: 10 6 10 6;
}

.textSeparator {
    -fx-font : 17px "Sans Serif";
}

.titreMenu {
    -fx-font-size: 40;
    -fx-text-fill: rgba(255,0,0,1);
    -fx-font-family: sans-serif;
    -fx-font-angle: 40;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,127,1) , 1,10,0,0 );
    -fx-scale-y:3;
    -fx-scale-x:3;
}

.boutonMenu {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-family: monospace;
    -fx-font-size: 40px;
}